.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    background-color: #000324;
    color: white;
}

bigPic {
    background: url("../assets/hotelMarkupAssets/header.jpg");
    
} 
